#root {
   overflow: hidden; 
}
#root, .dashboard, .frontPage, .registerPage, .loginPage {
    height: 100%;
    width: 100%;
  }

  /*Div underneat root to add different stylings to front page splash */
  .frontPage, .registerPage, .loginPage {
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../Images/alexey-savchenko-k4Akpt5-Sfk-unsplash.jpg');
   /* Background image is centered vertically and horizontally at all times */
   background-position: center center;
  
   /* Background image doesn't tile */
   background-repeat: no-repeat;
   
   /* Background image is fixed in the viewport so that it doesn't move when 
      the content's height is greater than the image's height */
   background-attachment: fixed;
   
   /* This is what makes the background image rescale based
      on the container's size */
   background-size: cover;
   
   /* Set a background color that will be displayed
      while the background image is loading */
   background-color: #464646;
}

.sloganTitle {
   position: absolute;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 0);
}
  /* forms */
  .formsGroup {
      width: 50%;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, 0);
  }

  .form-group > label, form > h3 {
     color: white;
  }

  @media screen and (max-width: 400px){

     /* forms */
     .formsGroup{
      width: 90%;
     }
    
  }

  @media screen and (max-width: 800px){
     /* forms */
     .formsGroup{
      width: 90%;
     }
  }

  /* Dashboard */
  .dashboard {
   overflow: auto;
  /*  position: absolute;
   right: 5%;
   background-color: rgba(0, 0, 0, 0.274);
   width: 90%;
   height: 90%;
   opacity: .8; */
}

/* .buttonBox {
   width: 100%;
}

.buttonBox > form, .buttonBox > form > input{
   width: 100%;
}  */